services:
  - type: web
    name: salva-plantao
    env: node
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: salva-plantao-db
          property: connectionString
      - key: PORT
        value: 10000
    autoDeploy: true

databases:
  - name: salva-plantao-db
    databaseName: salva_plantao
    user: postgres
